<div class="container">
  <div class="row">
    <div class="eight columns">
      <h2 class="subheading" style="border: none">
        About Newtimes
      </h2>
      <p class="justified" style="font-size: 18px;">
        Welcome to Alpha North Group Ltd.'s professional staffing solutions!
      </p>
      <p class="justified" style="font-size: 18px;">
        Our focus is to find the best-matched candidates for each job and best-matched job for each candidate!
      </p>
      <p class="justified" style="font-size: 18px;">
        We specialize in temporary, temp-to-hire, permanent and contract placements for Specialists and People without profession.
      </p>
      <h4 class="subheading" style="margin-top: 25px; border: none">
        <i class="icon-flag"></i>
        Employers
      </h4>
      <p class="justified" style="font-size: 18px;">
        Whether the need is for a single individual for a short period of time or personnel for ongoing employment, you can rely on our highly qualified and flexible staff.
      </p>
      <p class="justified" style="font-size: 18px;">
        It is all about You! We are here to make Your life easier!
      </p>
      <p class="justified" style="font-size: 18px;">
        We believe in your success. Contact our representative today to discuss how our staffing solutions can save Your time and money!
      </p>
    </div>

    <div class="four columns">
      <h4 class="subheading" style="border: none">
        <i class="icon-comment"></i>
        What I have to say...
      </h4>
      <blockquote>
        <p class="justified" style="font-size: 15px;">I get paid on time. I get paid everyweek. Newtimes keeps me and my family going. Did I say I get paid on time, everytime?</p>
        <small style="font-size: 12px;">
          John Doe
        </small>
      </blockquote>
      <p style="margin-top:490px"></p>
    </div>
  </div>

</div>