<div class="container">
  <div class="row">
    <div class="eight columns">
      <h2 class="subheading" style="border: none">
        <i class="icon-flag"></i>
        Employers
      </h2>
      <p class="justified" style="font-size: 18px;">
        Our business alleviates all your staffing and personnel hassles!
      </p>
      <p class="justified" style="font-size: 18px;">
        Newtimes Inc. provides professional staffing solutions and job placement across all industries, from unskilled labour to executive placements. Our range of services will help to reduce your company's personnel costs.
      </p>
      <p class="justified" style="font-size: 18px;">
        Newtimes Inc. focuses on finding the best-matched candidates for each job. Our business is to absorb all your staffing and personnel hassles. Contact our representative today to discuss how our staffing solutions can save your company time and money!
      </p>
      <p class="justified" style="font-size: 18px;">
        We are always available to answer your questions or address your concerns. Our office hours are from 8:00am to 8:00pm Monday to Friday, however there is always a Staffing Coordinator on call 24 hours a day, 7 days a week.
      </p>
      <p class="justified" style="font-size: 18px;">
        Post Your Vacancies for FREE with us and make staffing simpler for you.
      </p>
      <p class="justified" style="font-size: 18px;">
        Do not have an account yet? Register now.
      </p>
    </div>

    <div class="four columns">
      <h4 class="subheading" style="border: none">
        <i class="icon-comment"></i>
        What I have to say...
      </h4>
      <blockquote>
        <p class="justified" style="font-size: 15px;">I get paid on time. I get paid everyweek. Newtimes keeps me and my family going. Did I say I get paid on time, everytime?</p>
        <small style="font-size: 12px;">
          John Doe
        </small>
      </blockquote>
    </div>
  </div>
  <br>
  <p style="margin-top:180px"></p>
  <br>

</div>