<div class="container">
  <div class="row">
    <div class="eight columns" >
      <h2 class="subheading" style="border: none;">
        <i class="icon-briefcase"></i>
        Job Seekers
      </h2>
          <p class="justified" style="font-size: 18px;">
            Newtimes Inc. offers staffing solutions and job placement across all industries for specialists and people without profession. Our staff is dedicated and committed to help each and every candidate to find the best fit job.
          </p>
          <p class="justified" style="font-size: 18px;">
            Whether you are looking for part-time, full-time, temporary or permanent placement, apply now and let Alpha North Group Ltd. take your job search hassles away.
          </p>
          <p class="justified" style="font-size: 18px;">
            Your staffing solutions specialists!
          </p>
          <h2 class="subheading" style="margin-top: 25px; border: none">
            <i class="icon-search"></i>
            Find a Job Today
          </h2>
          <p class="justified" style="font-size: 18px;">
            Leave your resume with us. We will match your experience with available jobs and call you in for an interview or we will help you find a job. For us to consider you, please email us your resume and cavailability at jobs@newtimes.ca
          </p>
    </div>

    <div class="four columns">
      <h4 class="subheading" style="border: none">
        <i class="icon-comment"></i>
        What I have to say...
      </h4>
      <blockquote>
        <p class="justified" style="font-size: 15px;">I get paid on time. I get paid everyweek. Newtimes keeps me and my family going. Did I say I get paid on time, everytime?</p>
        <small style="font-size: 12px;">
          John Doe
        </small>
      </blockquote>
    </div>
  </div>

  <p style="margin-top:310px"></p>

</div>
