<div class="row" >
  <h2 style="padding: 25px 25px 0px 25px; border: 1px solid #5b9ede; border-bottom: none; border-top: none">
    Editing employer
    <div class="medium metro rounded btn primary" style="float: right; margin-right: 46px;"><%= link_to 'Back', :back %></div>
  </h2>

  <%= render 'form' %>



</div>
